<div class="container">
  <div class="w-75 my-4 mx-auto ">
    <form >
      <div class="text-center text-danger mb-4">
        <p class="lead">pass khong giong nhau</p>
      </div>
      <div class="form-group row">
        <label for="display-name" class="col-sm-4 col-form-label">名前</label>
        <div class="col-sm-8">
          <input type="text" id="uname" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="pass" class="col-sm-4 col-form-label">パスワード</label>
        <div class="col-sm-8">
          <input type="password" id="pass" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="pass-confirm" class="col-sm-4 col-form-label">パスワード（再）</label>
        <div class="col-sm-8">
          <input type="password" id="pass-confirm" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="addImage" class="col-sm-4 col-form-label">写真</label>
        <div class="col-sm-8">
          <div class="custom-file">
            <input type="file" id="addImage" class="custom-file-input">
            <label for="addImage" class="custom-file-label">ファイル選択...</label>
          </div>
        </div>
      </div>
      <div class="form-group my-5 text-center">
        <div class="mr-3 d-inline">
          <input class="btn btn-success w-25" type="button" value="保存">
        </div>
        <div class="d-inline">
          <input class="btn btn-warning w-25" type="button" value="キャンセル">
        </div>
      </div>
    </form>
  </div>
</div>
