<div class="container">
  <div class="row mt-5">
    <div class="col-sm-2">
      <div>
        <span>All</span>
      </div>
      <ul>
        <li>
          <div>
            <span>2021</span>
          </div>
          <ul>
            <li>
              <div>
                <span>6</span>
              </div>
            </li>
            <li>
              <div>
                <span>3</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="d-inline col-sm-11">
          <textarea name="" id="" class="w-100" placeholder="今同の感じですか。。。"></textarea>
        </div>
        <button class="btn btn-primary d-inline col-sm-1 my-auto">送信</button>
      </div>
      <div class="diary-container">
        <nav class="navbar">
          <span>2020/11/13 22:45</span>
          <div>
            <a>修正</a>
            <a>削除</a>
          </div>
        </nav>
        <div class="diary">
          <span>日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容</span>

        </div>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment" aria-expanded="false" aria-controls="comment">コメント表示</button>
        </p>
        <div class="collapse" id="comment" [ngbCollapse]="isCollapsed">
          <div class="media mb-4">
            <img src="../../media/64x64.png" class="align-self-start mr-3">
            <div class="media-body">
              日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容
            </div>
          </div>
        </div>
        <div>
          日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容
          日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容
          日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容
          日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容日記の内容

        </div>
      </div>
    </div>
  </div>
</div>
